@import "src/styles/imports";

$primaryLinkColor: $charcoal;
$secondaryLinkColor: $white;

$secondaryLinkHover: $grey;

$primaryNavBackground: $white;
$borderPrimary: $charcoal;

.navigation {
  right: 0;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  background-color: $primaryNavBackground;
}

.navigation {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $guttersm;
  height: 60px;

  @include sm {
    position: relative;
  }

  @include md {
    padding: $guttermd;
  }
}

.navigation__logo {
  display: flex;
  align-items: center;
  color: $primaryLinkColor;
  font-size: $xl;
  text-decoration: none;
  text-transform: uppercase;
}

.basket-icon {
  position: relative;
  border: none;
  background-color: transparent;

  &:hover {
    color: #9b9b9b;
  }
}

.basket-icon__handle {
  height: 5px;
  overflow: hidden;
  display: block;

  &:before {
    border: 1px solid $borderPrimary;
    display: block;
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 0 auto;
    border-color: inherit;
  }
}

.basket-icon__quantity {
  border: 1px solid;
  border-color: inherit;
  position: relative;
  width: 19px;
  height: 19px;
  margin: 0 auto;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  transform: translateY(0);
  transition: height 0.1s ease-in-out, line-height 0.1s ease-in-out;

  &:after {
    border-color: inherit;
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform 0.1s ease-in-out;
  }
}
